*
{
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');
}

body
{
    cursor: auto;
    font-family: "Open Sans" , sans-serif;
    position: fixed;
    width: 100%;
    background-image: none;
    background-color: rgb(249, 209, 149);
    height: 553px;
    background-position: 50% 0%;
    background-repeat: repeat repeat;
}
